@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    background-color: #002b5c
}

/*Special Paddings/Margins/Text*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Lobster', cursive;
}

p {
    font-family: 'Oswald', sans-serif;
}

.uppercase {
    text-transform: uppercase;
}

.text-shadow {
    text-shadow: 2px 2px 2px #000;
}

.underline-red {
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}

/* Navigation Bar CSS */
nav {
    padding: 0.5em 2em 6em 2em;
}

nav li a {
    font-family: 'Lobster', cursive;
    font-size: 2em;
    color: white;
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}

/* Base CSS */

#logo {
    width: 8em;
    border-bottom: 2px solid red;
    padding-bottom: 2px;
}

/* Index Page */
#hero-img {
    width: 100%;
    height: auto;

}