@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    background-color: #002b5c
}

/*Special Paddings/Margins/Text*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Lobster', cursive;
}

p {
    font-family: 'Oswald', sans-serif;
}

/* Form Elements */

form i {
    color: #002b5c;
}

label {
    font-family: 'Oswald', sans-serif;
}

/* Focus Color */
.input-field input:focus + label {
    color: #002b5c !important;
}

.active {
    color: #135caf !important;
}

/* label underline focus color */
.row .input-field input:focus {
    border-bottom: 1px solid #002b5c!important;
    box-shadow: 0 1px 0 0 #135caf !important
}
.uppercase {
    text-transform: uppercase;
}

.text-shadow {
    text-shadow: 2px 2px 2px #000;
}

.underline-red {
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}

/* Navigation Bar CSS */
nav {
    padding: 0.5em 2em 6em 2em;
}

nav li a {
    font-family: 'Lobster', cursive;
    font-size: 1.5em;
    color: white;
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}

/* Base CSS */

#logo {
    width: 8em;
    border-bottom: 2px solid red;
    padding-bottom: 2px;
}

#text-logo {
    width: 4em;
}

.alert .card-content h5 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: #002b5c;
}

.alert .card-content h5 i {
    color: rgb(228, 5, 5);
    font-size: 1.5em;
}

/* Buttons */
.default-button {
    font-family: 'Oswald', sans-serif;
    color: white;
    background: #002b5c;
    border-radius: 3em;
    padding: 1em;
}

.default-button i {
    color: white;
}

.default-button:hover {
    background-color: #135caf;
}

/* FORMS */
#form-blocks {
    background-color: white;
    border-radius: 1em;
}

 /* label color */
 .input-field label {
    color: #000;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #000;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #000;
  }
