@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    background-color: #002b5c
}

/*Special Paddings/Margins/Text*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Lobster', cursive;
}

h1 {
    font-size: 5vw;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 4vw;
}

h3 {
    font-size: 3vw;
}

span {
    font-size: 3.5vw;
}

p {
    font-family: 'Oswald', sans-serif;
}

.oswald {
    font-family: 'Oswald', sans-serif;
}

.lobster {
    font-family: 'Lobster', cursive;
}

.row {
    margin: 0;
}

.spacing_top {
    margin-top: 1em;
}

.spacing_bottom {
    margin-bottom: 1em;
}

hr {
    margin-top: 4em;
    height: 2px;
    background-color: rgb(255, 0, 0);
    border: none;
}

/* Form Elements */

form i {
    color: #002b5c;
}

label {
    font-family: 'Oswald', sans-serif;
    font-size: 0.75em;
    color: #135caf !important;
}

/* Focus Color */
.input-field input:focus+label {
    color: #002b5c !important;
}

.active {
    color: #135caf !important;
}

/* label underline focus color */
.row .input-field input:focus {
    border-bottom: 1px solid #002b5c !important;
    box-shadow: 0 1px 0 0 #135caf !important
}

.uppercase {
    text-transform: uppercase;
}

.text-shadow {
    text-shadow: 2px 2px 2px #000;
}

.underline-red {
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}

/* Navigation Bar CSS */
nav {
    padding: 0.5em 2em 6em 2em;
}

nav li a {
    font-family: 'Lobster', cursive;
    font-size: 1.5em;
    color: white;
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}

#mobile-demo a, #mobile-demo i {
    color: #002b5c;
}

/* Base CSS */

#logo {
    width: 22vw;
    border-bottom: 2px solid red;
    padding-bottom: 2px;
}

#text-logo {
    width: 8em;
}

/* Recipe Pages */

#search-box {
    margin-bottom: 1em;
}

.card-color {
    background-color: white;
}

.card {
    margin-bottom: 3em;
}

.card-image {
    width: inherit;
    height: inherit;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.recipe_key {
    margin-top: 1em;
}

.recipe_img {
    height: 200px;
    max-height: 100%;
    object-fit: contain;
}

.card .card-content {
    padding: 5px;
}

.alert .card-content h5 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: #002b5c;
}

.alert .card-content h5 i {
    color: rgb(228, 5, 5);
    font-size: 1.5em;
}

.edit_table_label {
    font-size: 2em;
}

.edit_table_label a i {
    font-size: 0.7em;
}

#message-box {
    font-size: 2em;
    font-weight:600;
}

#message-box i{
    font-size: 2.5em;

}

/* Buttons */
.default-button {
    font-family: 'Oswald', sans-serif;
    color: white;
    background: #002b5c;
    border-radius: 2em;
    padding: 0.5em, 1em;
    box-sizing : content-box;
}

.default-button i {
    color: white;
}

.default-button:hover {
    background-color: #135caf;
}

.default-blue-text {
    color: #002b5c;
}

/* FORMS */
#form-blocks {
    background-color: white;
    border-radius: 1em;
    padding: 1em;
}

/* label color */
.input-field label {
    color: #000;
}

/* label focus color */
.input-field input[type=text]:focus+label {
    color: #000;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #135caf;
}

.select-wrapper input.select-dropdown {
    color:black;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
}

.dropdown-content li>span {
    color: #135caf;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
}

#dropdown-main a {
    color: #002b5c;
}

#dropdown-mobile a {
    color: #002b5c;
}

#admin-dropdown-main a {
    color: #002b5c;
}

#admin-dropdown-mobile a {
    color: #002b5c;
}


/* Footer */

footer {
    margin-top: 2em;
}

.footer-social a {
    padding: 1em;
}


/* Media Queries ----------- */
@media only screen 
and (min-device-width : 319px) 
and (max-device-width : 768px){
#logo {
    width: 30vw;
}
}