{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col s12">
            <h2 class="white-text center-align spacing_top text-shadow">
                Error, Page Not Found!</h2>
            <h4 class="white-text center-align spacing_top text-shadow">
                You've navigated to an incorrect page!</h4>
        </div>
    </div>
    <br>
    <div class="row spacing_top">
        <button class="col s6 offset-s3 btn-large text-shadow default-button red" onclick="window.location.href='{{ url_for('get_recipes') }}'">Return Home</button>
    </div>
</div>

{% endblock %}
