{% extends "base.html" %}
{% block content %}

<div class="row">
    <h1 class="card-title white-text text-shadow center-align underline-red">Add Recipe</h1>
</div>

{% if session.user %}

    <div class="row">
        <form class="col s12 white" method="POST" action="{{ url_for('add_recipe') }}">

                <!-- RECIPE NAME -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="recipe_name" name="recipe_name" type="text" minlength="4" maxlength="36" size="36" required>
                        <label for="recipe_name">Recipe Name</label>
                    </div>
                </div>

                <!-- CATEGORY -->
                <div class="row">
                    <div class="input-field col s12">
                        <select name="category_name" required>
                            <option disabled selected>Recipe Type</option>
                            <label for="recipe_type">Recipe Type</label>
                            {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                            {% endfor %}
                        
                        </select>
                    </div>
                </div>

            <!-- RECIPE DESCRIPTION -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="recipe_description" name="recipe_description" type="text" minlength="4" maxlength="500" size="30" required>
                    <label for="recipe_description">Recipe Description</label>
                </div>
            </div>

            <!-- RECIPE IMAGE -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="recipe_image_url" name="recipe_image_url" type="url" pattern="https://.*" minlength="4" maxlength="300" size="30" required>
                    <label for="recipe_image_url">Recipe Image (URL)</label>
                </div>
            </div>

            <div class="row">
                <!-- SERVING -->
                <div class="input-field col s12 m3">
                    <select name="recipe_serving" required>
                        <option value="" disabled selected>Serving Amount</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>

                <div class="input-field col s12 m3">
                    <input id="recipe_cook_time" name="recipe_cook_time" type="number" minlength="1" maxlength="3" required>
                    <label for="recipe_cook_time">Cooking Time (minutes)</label>
                </div>

                <div class="input-field col s12 m3">
                    <select name="recipe_difficulty" required>
                        <option value="" disabled selected>Difficulty</option>
                        <option value="Easy">Easy</option>
                        <option value="Medium">Medium</option>
                        <option value="Hard">Hard</option>
                    </select>
                </div>

                <div class="input-field col s12 m3">
                    <select name="recipe_spice" required>
                        <option value="" disabled selected>How Spicy?</option>
                        <option value="Not Spicy">Not Spicy</option>
                        <option value="Mild">Mild</option>
                        <option value="Hot">Hot</option>
                        <option value="Very Hot">Very Hot</option>
                    </select>
                </div>
            </div>

            <!-- https://www.codexworld.com/add-remove-input-fields-dynamically-using-jquery/ -->
           
            <div class="row">  

            <!-- INGREDIENTS -->
            <div class="col s12 m6">
                <div class="ingredient_field_wrapper input-field">
                    <input id="recipe_ingredients" name="recipe_ingredients" type="text" minlength="3" required>
                    <label for="recipe_ingredients">Recipe Ingredient</label>
                </div>
                <a href="javascript:void(0);" class="ingredient_add_button" title="Add field">
                    <p><i class="fas fa-plus-circle"></i> Add Ingredient</p>
                </a>
            </div>
            <!-- INSTRUCTIONS -->  
            <div class="col s12 m6">  
                <div class="instruction_field_wrapper input-field">
                    <input id="recipe_instructions" name="recipe_instructions" type="text" minlength="3" required>
                    <label for="recipe_instructions">Recipe Instruction</label>
                </div>
                <a href="javascript:void(0);" class="instruction_add_button" title="Add field">
                    <p><i class="fas fa-plus-circle"></i> Add Instruction</p>
                </a>
            </div>

            </div>
            <!-- End Of Codex Code-->

            <!-- RECIPE SUBMIT BUTTON-->
            <div class="row">
                <div class="col s1"></div>
                <button type="submit" class="col s4 btn-large text-shadow default-button">Submit <i class="fas fa-mortar-pestle"></i></button>
                <div class="col s2"></div>
                <button type="reset" class="col s4 red btn-large text-shadow default-button">Clear <i class="fas fa-eraser"></i></button>
                <div class="col s1"></div>
            </div>
            <br>
        </form>
    </div>

{% else %}

<!-- ADMINISTRATOR ONLY MESSAGE-->
<div class="col s12 m4">
  <div class="card red">
    <div class="card-content">
      <div class="row white-text center-align text-shadow">
        <i class="fas fa-user-lock fa-7x"></i>
      </div>
      <h3 class="white-text center-align text-shadow oswald">You must be logged in to access this page.</h3>
      <br>

      <!-- LOGIN BUTTON -->
      <div class="row">
        <div class="col s12">
          <p class="center-align white-text">Already have a <img id="text-logo" src="/static/images/logo.png" alt="Foodie Logo"> account?</p>
        </div>
        <div class="row center-align">
          <a href="{{ url_for('login') }}"><button class="col s2 btn-large text-shadow default-button">Login<i class="fas fa-sign-in-alt"></i></button></a>
        </div>
      </div>
    </div>
  </div>
</div>


{% endif %}

{% endblock %}