{% extends "base.html" %}
{% block content %}


<h3 class="white-text center-align">Add Recipe</h3>

<div class="row">
    <form class="col s12" method="POST" action="">
      <div class="row">
        <div class="input-field col s12">
          <i class="fas fa-user-circle prefix"></i>
          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">First Name</label>
        </div>
        <div class="input-field col s12">
            <i class="fas fa-user-circle prefix"></i>
            <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
            <label for="icon_prefix2">First Name</label>
          </div>
      </div>
    </form>
  </div>

{% endblock %}