{% extends "base.html" %}
{% block content %}

<div class="row">
  <h1 class="card-title white-text text-shadow center-align underline-red">Categories</h1>
</div>

<!-- ADD ADMIN BUTTON -->
<div class="row">
  <a href="{{ url_for('add_category') }}" class="col s8 offset-s2 btn-large text-shadow default-button red"><i
      class="fas fa-plus-circle"></i> Add Category</a>
</div>

<div class="row">
  <div class="col s8 offset-s2">
    <ul class="collection">

      {% for category in categories %}
      <li class="collection-item center-align oswald default-blue-text">
        <span class="edit_table_label">
          {{ category.category_name }} 
          <a href="{{ url_for('edit_category',category_id=category._id) }}">
            <i class="far fa-edit red-text"></i></a>
          <a href="{{ url_for('delete_category',category_id=category._id) }}">
            <i class="far fa-trash-alt red-text"></i></a>
        </span>   
      </li>

      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}