{% extends "base.html" %}
{% block content %}


<div class="row">
  <div class="col s12 m12">
    <div class="card medium">
      <div class="card-content">
        <div class="card-image">
          <img id="recipe_img" class="center-align" src="{{ recipe.recipe_img_url }}">
          <h3 class="card-title text-shadow">{{ recipe.recipe_name }}</h3>
        </div>
      </div>
      <div class="card-content red">
        <div id="tab-details">
          <!-- RECIPE DESCRIPTION-->
          <div class="row">
            <div class="col s12">
              <p class="white-text">{{ recipe.recipe_description}}</p>
            </div>
          </div>

          <!-- RECIPE KEY ROW 1-->
          <div class="row">
            <div class="col s6">
              <p class="white-text">Serves: {{ recipe.recipe_serves}} </p>
            </div>
            <div class="col s6">
              <p class="white-text">Cooking Time: {{ recipe.recipe_cook_time}} minutes</p>
            </div>
          </div>

          <!-- RECIPE KEY ROW 2-->
          <div class="row">
            <div class="col s6">
              <p class="white-text">Difficulty: &nbsp;
                {% if recipe.recipe_difficulty == 1 %}
                <i class="far fa-check-circle"></i>
                <i class="far fa-circle"></i>
                <i class="far fa-circle"></i>
                {% endif %}

                {% if recipe.recipe_difficulty == 2 %}
                <i class="far fa-check-circle"></i>
                <i class="far fa-check-circle"></i>
                <i class="far fa-circle"></i>
                {% endif %}

                {% if recipe.recipe_difficulty == 3 %}
                <i class="far fa-check-circle"></i>
                <i class="far fa-check-circle"></i>
                <i class="far fa-check-circle"></i>
                {% endif %}
              </p>

            </div>

            <div class="col s6">
              <p class="white-text">Spice Rating: &nbsp;
                {% if recipe.recipe_spice_rating == 0 %}
                <i class="fas fa-times"></i>
                {% endif %}

                {% if recipe.recipe_spice_rating == 1 %}
                <i class="fas fa-pepper-hot"></i>
                {% endif %}

                {% if recipe.recipe_spice_rating == 2 %}
                <i class="fas fa-pepper-hot"></i>
                <i class="fas fa-pepper-hot"></i>
                {% endif %}

                {% if recipe.recipe_spice_rating == 3 %}
                <i class="fas fa-pepper-hot"></i>
                <i class="fas fa-pepper-hot"></i>
                <i class="fas fa-pepper-hot"></i>
                {% endif %}
              </p>
            </div>
          </div>
        </div>

        <div>
          {% for ingredient in recipe.recipe_ingredients %}
          <ul class="white-text">
            <li>
              {{ ingredient }}
            </li>
          </ul>
          {% endfor %}
        </div>

        <div>
          {% for instruction in recipe.recipe_instructions %}
          <ul class="white-text">
            <li>
              {{ instruction }}
            </li>
          </ul>
          {% endfor %}
        </div>
        

      </div>
    </div>
  </div>
</div>

{% endblock %}