{% extends "base.html" %}
{% block content %}

<div class="row">
  
</div>

<div class="card">

  <div class="row spacing_top center-align card-title  underline-red">
    <h1>{{ recipe.recipe_name }}</h1>
  </div>

  <div class="row">
    
    <!--Recipe Image-->
    <div class="col s12 card-image">
      <img class="recipe_img" src="{{ recipe.recipe_image_url }}" alt="Recipe Image">
    </div>
  
  </div>
  <div class="row spacing_top">

    <!--Recipe Description-->
    <div class="col s12 card-content">
      <p>{{ recipe.recipe_description}}</p>
    </div>

  </div><!--Row-->

  <hr class="spacing_top">

  <div class="row spacing_top">
    <!-- Recipe Servings / Cook Time -->
    <div class="col s12 m6">
      <p>Serves: &nbsp;

        {% if recipe.recipe_serving == '1' %}
        <i class="fas fa-user white-text"></i>
        {% endif %}

        {% if recipe.recipe_serving == '2' %}
        <i class="fas fa-user white-text"></i>
        <i class="fas fa-user white-text"></i>
        {% endif %}

        {% if recipe.recipe_serving == '3' %}
        <i class="fas fa-user white-text"></i>
        <i class="fas fa-user white-text"></i>
        <i class="fas fa-user white-text"></i>
        {% endif %}

        {% if recipe.recipe_serving == '4' %}
        <i class="fas fa-user white-text"></i>
        <i class="fas fa-user white-text"></i>
        <i class="fas fa-user white-text"></i>
        <i class="fas fa-user white-text"></i>
        {% endif %}

        {% if recipe.recipe_serving == '5' %}
        5 x <i class="fas fa-user white-text"></i>
        {% endif %}

        {% if recipe.recipe_serving == '6' %}
        6 x <i class="fas fa-user white-text"></i>
        {% endif %}

        {% if recipe.recipe_serving == '7' %}
        7 x <i class="fas fa-user white-text"></i>
        {% endif %}

        {% if recipe.recipe_serving == '8' %}
        8 x <i class="fas fa-user white-text"></i>
        {% endif %}

        {% if recipe.recipe_serving == '9' %}
        9 x <i class="fas fa-user white-text"></i>
        {% endif %}

        {% if recipe.recipe_serving == '10' %}
        10 x <i class="fas fa-user white-text"></i>
        {% endif %}
      </p>
    </div>
      
    <div class="col s12 m6">
      <p>Cooking Time: {{ recipe.recipe_cook_time}} minutes</p>
    </div>
  </div><!--Row-->

    <!-- Recipe Difficulty / Spicy -->
    <div class="row">
      <div class="col s12 m6">
        <p>Difficulty: &nbsp;
          {% if recipe.recipe_difficulty == 'Easy' %}
          <i class="far fa-check-circle"></i>
          <i class="far fa-circle"></i>
          <i class="far fa-circle"></i>
          {% endif %}

          {% if recipe.recipe_difficulty == 'Medium' %}
          <i class="far fa-check-circle"></i>
          <i class="far fa-check-circle"></i>
          <i class="far fa-circle"></i>
          {% endif %}

          {% if recipe.recipe_difficulty == 'Hard' %}
          <i class="far fa-check-circle"></i>
          <i class="far fa-check-circle"></i>
          <i class="far fa-check-circle"></i>
          {% endif %}
        </p>

      </div>

      <div class="col s12 m6">
        <p>Spice: &nbsp;
          {% if recipe.recipe_spice == 'Not Spicy' %}
          <i class="fas fa-times"></i>
          {% endif %}

          {% if recipe.recipe_spice == 'Mild' %}
          <i class="fas fa-pepper-hot"></i>
          {% endif %}

          {% if recipe.recipe_spice == 'Hot' %}
          <i class="fas fa-pepper-hot"></i>
          <i class="fas fa-pepper-hot"></i>
          {% endif %}

          {% if recipe.recipe_spice == 'Very Hot' %}
          <i class="fas fa-pepper-hot"></i>
          <i class="fas fa-pepper-hot"></i>
          <i class="fas fa-pepper-hot"></i>
          {% endif %}
        </p>
      </div>
    </div>

    <hr class="spacing_top">

  <div class="row spacing_top">

    <!--Recipe Ingredients-->
    <div class="col s12 m6">
      <h6>Ingredients</h6>
      {% for ingredient in recipe.recipe_ingredients %}
      <div class="spacing_top">
        <ul>
          <li>- {{ ingredient }}</li>
        </ul>
      </div>
      {% endfor %}
    </div>

    <!--Recipe Instructions-->
    <div class="col s12 m6">
      <h6>Instructions</h6>
      {% for instruction in recipe.recipe_instructions %}
      <div class="spacing_top">
        <ul>
          <li>
            - {{ instruction }}
          </li>
        </ul>
      </div>
      {% endfor %}
    </div>

  </div><!--Row-->

  <div class="row">
    
    <!-- Submitted By -->
    <div id="submitted_by" class="spacing_top center-align">
      <p>Submitted By: {{ recipe.recipe_user }}</p>
    </div>

  </div><!--Row-->

</div><!--Card-->

{% endblock %}