{% extends "base.html" %}
{% block content %}

<div class="row">
  <h1 class="white-text text-shadow center-align underline-red">The Recipe Book</h1>
</div>

<!-- SEARCH FUNCTION -->
<div id="search-box" class="row card-panel grey lighten-5">
  <form action="{{ url_for('search') }}" method="post" class="col s12">
    <div class="row valign-wrapper center-align">
      <div class="input-field col s12">
        <i class="fas fa-search prefix"></i>
        <input type="text" name="query" id="query" minlength="3" class="validate" required>
        <label for="query">Search Recipe Book</label>
      </div>
    </div>
    <div class="row valign-wrapper center-align">
      <div class="col s12">
        <button type="submit" class="default-button btn text-shadow">
          <i class="fas fa-search left"></i> Search
        </button>
        <a href="{{ url_for('get_recipes') }}" class="red default-button btn text-shadow"><i class="fas fa-undo left"></i>Reset</a>
      </div>
    </div>
  </form>
</div>

{% if recipes|length > 0 %}

<div class="row">
  {% for recipe in recipes %}

  <!-- RECIPE IMAGE & TITLE -->
  <div class="col s12 l12 xl6">
    <div class="card large">
      <div class="card-content">
        <div class="card-image">
          <img id="recipe_img" src="{{ recipe.recipe_image_url }}">
        </div>
      </div>
      <div class="card-content">
        <div class="row">
          <div class="col s12">
            <h3 id="recipe-title" class="card-title default-blue-text center-align">{{ recipe.recipe_name }}</h3>
          </div>
        </div>
        <div id="tab-details">
          <div id="recipe_key" class="center-align default-blue-text">
            <!-- RECIPE KEY ROW 1-->
            <div class="row">
              <div class="col s12">
                <p>Serves: &nbsp;

                  {% if recipe.recipe_serving == '1' %}
                  <i class="fas fa-user"></i>
                  {% endif %}

                  {% if recipe.recipe_serving == '2' %}
                  <i class="fas fa-user"></i>
                  <i class="fas fa-user"></i>
                  {% endif %}

                  {% if recipe.recipe_serving == '3' %}
                  <i class="fas fa-user"></i>
                  <i class="fas fa-user"></i>
                  <i class="fas fa-user"></i>
                  {% endif %}

                  {% if recipe.recipe_serving == '4' %}
                  <i class="fas fa-user"></i>
                  <i class="fas fa-user"></i>
                  <i class="fas fa-user"></i>
                  <i class="fas fa-user"></i>
                  {% endif %}

                  {% if recipe.recipe_serving == '5' %}
                  5 x <i class="fas fa-user"></i>
                  {% endif %}

                  {% if recipe.recipe_serving == '6' %}
                  6 x <i class="fas fa-user"></i>
                  {% endif %}

                  {% if recipe.recipe_serving == '7' %}
                  7 x <i class="fas fa-user"></i>
                  {% endif %}

                  {% if recipe.recipe_serving == '8' %}
                  8 x <i class="fas fa-user"></i>
                  {% endif %}

                  {% if recipe.recipe_serving == '9' %}
                  9 x <i class="fas fa-user"></i>
                  {% endif %}

                  {% if recipe.recipe_serving == '10' %}
                  10 x <i class="fas fa-user"></i>
                  {% endif %}
                </p>
              </div>
              <div class="col s12">
                <p>Cooking Time: {{ recipe.recipe_cook_time }} minutes</p>
              </div>
            </div>
            <!-- RECIPE KEY ROW 2-->
            <div class="row">
              <div class="col s12">
                <p>Difficulty: &nbsp;
                  {% if recipe.recipe_difficulty == 'Easy' %}
                  <i class="far fa-check-circle"></i>
                  <i class="far fa-circle"></i>
                  <i class="far fa-circle"></i>
                  {% endif %}

                  {% if recipe.recipe_difficulty == 'Medium' %}
                  <i class="far fa-check-circle"></i>
                  <i class="far fa-check-circle"></i>
                  <i class="far fa-circle"></i>
                  {% endif %}

                  {% if recipe.recipe_difficulty == 'Hard' %}
                  <i class="far fa-check-circle"></i>
                  <i class="far fa-check-circle"></i>
                  <i class="far fa-check-circle"></i>
                  {% endif %}
                </p>

              </div>

              <div class="col s12">
                <p>Spice: &nbsp;
                  {% if recipe.recipe_spice == 'Not Spicy' %}
                  <i class="fas fa-times"></i>
                  {% endif %}

                  {% if recipe.recipe_spice == 'Mild' %}
                  <i class="fas fa-pepper-hot"></i>
                  {% endif %}

                  {% if recipe.recipe_spice == 'Hot' %}
                  <i class="fas fa-pepper-hot"></i>
                  <i class="fas fa-pepper-hot"></i>
                  {% endif %}

                  {% if recipe.recipe_spice == 'Very Hot' %}
                  <i class="fas fa-pepper-hot"></i>
                  <i class="fas fa-pepper-hot"></i>
                  <i class="fas fa-pepper-hot"></i>
                  {% endif %}
                </p>
              </div>
            </div>
            <br>
            <div class="row">
              <a class="col s8 offset-s2 btn-large text-shadow default-button"
                href="{{ url_for('open_recipe',recipe_id=recipe._id) }}">Open Recipe</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  {% endfor %}
</div>

{% else %}

<h2 class="spacing_top white-text center-align">Sorry, No Results Found</h2>

{% endif %}
{% endblock %}