{% extends "base.html" %}
{% block content %}

<div class="row">
  <h1 class="card-title white-text text-shadow center-align underline-red">{{ category.category_name }}</h1>
</div>

<div class="row">
  {% if count > 0 %}

  {% for recipe in recipes %}
     <!-- RECIPE IMAGE & TITLE -->
     <div class="col s12 l12 xl6">
      <div class="card large">
        <div class="card-content">
          <div class="card-image">
            <img class="recipe_img" src="{{ recipe.recipe_image_url }}" alt="image of the prepared dish">
          </div>
        </div>
        <div class="card-content">
          <div class="row">
              <div class="col s12">
              <h3 class="card-title default-blue-text center-align">{{ recipe.recipe_name }}</h3>
            </div>
        </div>
          <div>
            <div class="recipe_key center-align default-blue-text">
              <!-- RECIPE KEY ROW 1-->
              <div class="row">
                <div class="col s12">
                  <p>Serves: &nbsp;
  
                    {% if recipe.recipe_serving == '1' %}
                    <i class="fas fa-user"></i>
                    {% endif %}
  
                    {% if recipe.recipe_serving == '2' %}
                    <i class="fas fa-user"></i>
                    <i class="fas fa-user"></i>
                    {% endif %}
  
                    {% if recipe.recipe_serving == '3' %}
                    <i class="fas fa-user"></i>
                    <i class="fas fa-user"></i>
                    <i class="fas fa-user"></i>
                    {% endif %}
  
                    {% if recipe.recipe_serving == '4' %}
                    <i class="fas fa-user"></i>
                    <i class="fas fa-user"></i>
                    <i class="fas fa-user"></i>
                    <i class="fas fa-user"></i>
                    {% endif %}
  
                    {% if recipe.recipe_serving == '5' %}
                    5 x <i class="fas fa-user"></i>
                    {% endif %}
  
                    {% if recipe.recipe_serving == '6' %}
                    6 x <i class="fas fa-user"></i>
                    {% endif %}
  
                    {% if recipe.recipe_serving == '7' %}
                    7 x <i class="fas fa-user"></i>
                    {% endif %}
  
                    {% if recipe.recipe_serving == '8' %}
                    8 x <i class="fas fa-user"></i>
                    {% endif %}
  
                    {% if recipe.recipe_serving == '9' %}
                    9 x <i class="fas fa-user"></i>
                    {% endif %}
  
                    {% if recipe.recipe_serving == '10' %}
                    10 x <i class="fas fa-user"></i>
                    {% endif %}
                  </p>
                </div>
                <div class="col s12">
                  <p>Cooking Time: {{ recipe.recipe_cook_time }} minutes</p>
                </div>
              </div>
              <!-- RECIPE KEY ROW 2-->
              <div class="row">
                <div class="col s12">
                  <p>Difficulty: &nbsp;
                    {% if recipe.recipe_difficulty == 'Easy' %}
                    <i class="far fa-check-circle"></i>
                    <i class="far fa-circle"></i>
                    <i class="far fa-circle"></i>
                    {% endif %}
  
                    {% if recipe.recipe_difficulty == 'Medium' %}
                    <i class="far fa-check-circle"></i>
                    <i class="far fa-check-circle"></i>
                    <i class="far fa-circle"></i>
                    {% endif %}
  
                    {% if recipe.recipe_difficulty == 'Hard' %}
                    <i class="far fa-check-circle"></i>
                    <i class="far fa-check-circle"></i>
                    <i class="far fa-check-circle"></i>
                    {% endif %}
                  </p>
  
                </div>
  
                <div class="col s12">
                  <p>Spice: &nbsp;
                    {% if recipe.recipe_spice == 'Not Spicy' %}
                    <i class="fas fa-times"></i>
                    {% endif %}
  
                    {% if recipe.recipe_spice == 'Mild' %}
                    <i class="fas fa-pepper-hot"></i>
                    {% endif %}
  
                    {% if recipe.recipe_spice == 'Hot' %}
                    <i class="fas fa-pepper-hot"></i>
                    <i class="fas fa-pepper-hot"></i>
                    {% endif %}
  
                    {% if recipe.recipe_spice == 'Very Hot' %}
                    <i class="fas fa-pepper-hot"></i>
                    <i class="fas fa-pepper-hot"></i>
                    <i class="fas fa-pepper-hot"></i>
                    {% endif %}
                  </p>
                </div>
              </div>
              <br>
              <div class="row">
                <a class="col s8 offset-s2 btn-large text-shadow default-button"
                  href="{{ url_for('open_recipe',recipe_id=recipe._id) }}">Open Recipe</a>
              </div>
            </div>
</div>
</div>
</div>
</div>
  {% endfor %}

  {% else %}
    <div>
      <h3 class="spacing_top center-align white-text"> Sorry there are no recipe's uploaded for {{ category.category_name }}</h3>
    </div>
  {% endif %}
</div>
{% endblock %}