{% extends "base.html" %}
{% block content %}

    <div class="row">
        <h1 class="center-align white-text text-darken-2 underline-red">Register</h1>
    </div>
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel">
                <!-- USERNAME -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-plus prefix"></i>
                        <input id="username" name="username" type="text" class="validate" minlength="4" maxlength="15"
                            pattern="^[a-zA-Z0-9]{4,15}$" required>
                        <label for="username">Username</label>
                    </div>
                </div>

                <!-- PASSWORD -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-lock prefix"></i>
                        <input id="password" name="password" type="password" minlength="5" maxlength="15"
                            pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>

                <!-- EMAIL ADDRESS -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-envelope prefix"></i>
                        <input id="email" name="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                            class="validate">
                        <label for="email">Email Address</label>
                    </div>
                </div>

                <!-- PROFILE IMAGE -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-camera prefix"></i>
                        <label for="profile_image">Upload your profile image</label>
                        <br>
                        <br>
                        <input id="profile_image" name="profile_image" type="file" class="validate">

                    </div>
                </div>

                <!-- REGISTRATION SUBMIT BUTTON-->
                <div class="row">
                    <button type="submit" class="col s12 btn-large text-shadow default-button">
                        Register <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>

            </div>
        </form>
    </div>

{% endblock %}